################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WOW_Assignment/BusinessLayer/obj/Debug
