@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>WOW-Assignment - Sample Products</h1>
    <p class="lead">Database is hosted on AZURE.</p>
    <p class="btn btn-primary btn-md" id="createBtn">
        @Html.ActionLink("DisplayProducts", "DisplayProducts", "Product")
    </p>
</div>